*, *::before,*::after { /* sets up the box sizing for all the elements, the asterik selects all elements and applies same style to it, so everything was a box border and same font */
    box-sizing: border-box; /*all elements, before and after, This will force any ::before or ::after element to use the box-sizing property as well,*/
    font-family: 'Grandstander', cursive; /*Font downloaded from Google Fonts*/
}

body {
    padding: 0;
    margin: 0;
    display: flex; /*this made the quiz dead centre of the screen*/
    width: 100vw; /*vw means view width, which means its going to take up the entire width, vh means view height*/
    height: 100vh;
    justify-content: center; /*this aligns the flex items at the centre of the container, also have - flex-start|flex-end|center|space-between|space-around|*/
    align-items: center;
    background-color: #FFA366 /*main background / default background color*/
}
body.correct { /*for when answer is correct - using classes, body class gets changed or added in the HTML*/
    background-color: green;

}

body.incorrect { /*for when answer is incorrect*/
background-color: red;
}

.container { /*holds question, answers, start and next*/
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 0 0 10px 2px; /*creates blur outline/shadow around container*/
}

#question {
    font-weight: bolder;
    font-size: 1.5rem;
}

.btn-grid { /*the 4 answer buttons*/
    display: grid; /*this setting on its own lined them up one on top of each other*/
    grid-template-columns: repeat(2,auto); /*this gives two columns, repeat twice, auto width*/
    gap: 10px; /*gap between columns down the middle*/
    margin: 20px 0; /*this spaced out button grid from question and start next buttons, 20px on top and bottom, 0 on left and right*/
}

.btn { /*applied to every button on page*/
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    font-size: 1.4rem;
}

.btn:hover {
    border-color: black;
}

.btn.correct { /*using classes again*/
background-color: green;
}

.btn.incorrect {
    background-color: red;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px; /*made buttons bigger*/
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide { /*everything with class of hide, not displayed until otherwise*/
    display: none; /*leaves with just the start button in screen center*/
}